storage.conf0.type=ATA
storage.conf0.host_id=3
storage.conf0.device_id=0
storage.conf0.lba_low=0
storage.conf0.lba_high=0xFFFFFFFF
storage.conf0.keyindex=0
storage.conf0.crypto_name=tresor

storage.conf0.keybits=256

# VMM
vmm.f11panic=1
vmm.f12msg=1
vmm.auto_reboot=0
vmm.shell=1
vmm.dbgsh=1
vmm.status=0
vmm.tty_pro1000=0
vmm.tty_pro1000_mac_address=FF-FF-FF-FF-FF-FF
vmm.driver.ata=1
vmm.driver.usb.uhci=0
vmm.driver.usb.ehci=0
vmm.driver.concealEHCI=0
vmm.driver.conceal1394=0
vmm.driver.concealPRO1000=0
vmm.driver.vpn.PRO100=0
vmm.driver.vpn.PRO1000=0
vmm.driver.vpn.RTL8169=0
vmm.driver.vpn.ve=0
vmm.iccard.enable=0
vmm.iccard.status=0
vmm.boot_active=0
